{% extends 'event/base.html' %}
{% load crispy_forms_tags %}

{% block css %}
<title>Fill Form Here</title>
{% endblock css %}

{% block content %}
{% load static %}
<div class="container login-registration">
      <div class="row shadow-lg py-5 m-1">
            <div class="col-12">
                <h2 class="text-center slogan">Participate Form</h2>
                <hr>
            </div>
              
            <div class="col-12 col-lg-6 col-md-6 imgs">
                  <img src="{% static 'event/images/default/undraw_web_developer_p3e5.png' %}" alt="" class="img-fluid py-auto">
            </div>

            <div class="col-12 col-lg-5 col-md-9 row-center">
              <h2 class="text-center text-primary slogan">PARTICIPATE, HERE</h2>
              <form method="POST" autocomplete="off">
                          {% csrf_token %}
                          <div class="text-small form-group">
                              {{form|crispy}}
                          </div>
                          <div class="form-group mt-4 text-center">
                              <button class="btn btn-outline-primary" type="submit">Participate</button>
                          </div>
                          <hr>
                  </form>
           </div>           
      </div>

      <div class="col-12 alert alert-info m-1 mt-5 text-center">
                <li type="circle"> Please, make sure that you <b>It's Not a Fake Event</b> Because <b>We would not Be Responsible</b> for <b>any Loss</b></li>
      </div>
</div>
{% endblock content %}


{% block js %}
{% endblock js %}