{% extends 'event/base.html' %}

{% block css %}
      <title>User Posts</title>
{% endblock %}

{% block content %}
<h2 class="text-center text-primary mb-3">Currently <span class="red">" {{ view.kwargs.username }} "</span> Created <span class="red">{{page_obj.paginator.count}}   {{post.max_seats}}  </span>  Events </h2>
<div class="container home">                
{% load static %}
<div class="row">
      {% for post in posts %}
      <div class="col-12 col-lg-6 col-md-6 shadow p-2 my-auto">           
            <div class="event_content_touch mb-2">
                  <div class="blog-header">
                        <img src="{{post.event_poster_image.url}}" class="img-fluid" alt="">
                        <div class="blog-header-info">
                              <kbd class="bg-primary">{{post.event_type}}</kbd>
                              <h3><a href="{% url 'post-detail' post.id %}">{{post.title}}</a></h3>
                        </div>                      
                  </div>
                  
                  <div class="content_event">
                        <div class="px-2 pt-2 d-flex justify-content-between">
                              <div class="d-flex">
                                    <a href="{% url 'user-posts' post.author.username %}"> <img src="{{post.author.profile.image.url}}" alt="" class="img-fluid img-event-profile"></a>
                                    <a href="{% url 'user-posts' post.author.username %}"><h3 class="my-auto ml-3 slogan word-break">{{post.author}}</h3></a>
                              </div>
                              <div>
                                    <span class="mr-2 event-profile-font"> <a href="https://www.google.co.in/maps/dir//{{post.district}},+Maharashtra/" class="text-muted" target="_blank"><i class="fa fa-map-marker red"></i> {{post.district}}</a> </span>
                                    <a href="{{post.event_poster_image.url}}" download><i class="fa fa-arrow-circle-o-down text-dark"></i></a>
                              </div>
                        </div>
                        <div class="text-muted date ml-date">{{ post.date_posted }}</div>
                        <div class="p-2 event-profile-font border-bottom">
                          <div>{{post.content|linebreaks}}</div>
                          {% if post.college_url %}
                                <br>
                                <div class="word-break"><a href="{{post.college_url}}" target="_blank">{{post.college_url}}</a></div>
                          {% endif %}
                              <div class="d-flex pt-2 justify-content-between">
                                    <div class="red">
                                          Seats Left - {{post.max_seats}}
                                    </div>
                                    {% if user in post.fake_post_report.all %}
                                       <a href="{% url 'fake_post_report' post.id %}"><span class="red">{{post.fake_post_report.count}}</span> <i class="fa fa-thumbs-down red icon px-1"></i></a></a>
                                    {% else %}
                                       <a href="{% url 'fake_post_report' post.id %}" title="Click here, If It is a Fake Event !"><span class="text-primary">{{post.fake_post_report.count}}</span> <i class="fa fa-thumbs-o-down text-primary px-1 icon"></i></a>
                                   {% endif %}      
                              </div>
                        </div>
                  </div>            

                  <div class="pt-2 d-flex justify-content-between event-profile-font">
                        <div>
                              <a href="{% url 'form_creation' post.id %}" class="btn btn-outline-primary btn-sm">Participate</a>
                        </div>
                        <div class="text-muted outer-content-touch">
                            <small><i class="fa fa-calendar-check-o mr-1"></i>{{post.event_date|date:'F d, Y'}}</small>
                        </div>
                  </div>      
            </div>
        </div>
        {% endfor %}
    </div>

{% if is_paginated %}
<div class="mt-4 text-center">
      {% if page_obj.has_previous %}
                  <a href="?page=1" class="btn btn-outline-info">First</a>
                  <a href="?{{page_obj.previous_page_number}}" class="btn btn-outline-info">Previous</a>
      {% endif %}

      {% for num in  page_obj.paginator.page_range %}
                  {% if page_obj.number == num %}
                              <a href="?page={{num}}" class="btn btn-danger">{{num}}</a>
                  {% elif num > page_obj.number|add:'-3' and  num < page_obj.number|add:'3' %}
                  <a href="?page={{num}}" class="btn btn-outline-info">{{num}}</a>
                  {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number}}" class="btn btn-outline-info">Next</a>
            <a href="?{{page_obj.paginator.num_pages}}" class="btn btn-outline-info">Last</a>
      {% endif %}
</div>
{% endif %}      
</div>

{% endblock %}



{% load static %}
{% block js %}
<script type="text/javascript" src="{% static 'event/js/django-main.js' %}"></script>
{% endblock js %}